@import url('https://fonts.googleapis.com/css2?family=Acme&family=Patrick+Hand&display=swap');

body{
    background-color:#ffffff;
    margin: 0;
    padding: 0;
}

#content{
    max-width: 1600px; 
    margin: 0 auto;
    color:#000000;
}

h1{
    color:#000000;
    padding: 10px;
    text-align: center;
    font-family: 'Patrick Hand', sans-serif, 'Times New Roman'; 
    font-size: 22px;
    line-height: 100%;
}

h2{
    color:#000000;
    padding: 10px;
    text-align: center;
    font-family: 'Patrick Hand', sans-serif, 'Times New Roman'; 
    font-size: 22px;
    line-height: 100%;
    margin: 0;
}

h3{
    color:#000000;
    padding: 10px;
    text-align: center;
    font-family: 'Patrick Hand', sans-serif, 'Times New Roman'; 
    font-size: 22px;
    line-height: 100%;
}

h4{
    color:#000000;
    padding: 10px;
    text-align: center;
    font-family: 'Patrick Hand', sans-serif, 'Times New Roman'; 
    font-size: 22px;
    line-height: 100%;
}

h5{
    color:#000000;
    padding: 10px;
    text-align: center;
    font-family: 'Patrick Hand', sans-serif, 'Times New Roman'; 
    font-size: 22px;
    line-height: 100%;
}

h6{
    color:#000000;
    padding: 10px;
    text-align: center;
    font-family: 'Patrick Hand', sans-serif, 'Times New Roman'; 
    font-size: 22px;
    line-height: 100%;
}

P{
    color:#000000;
    padding: 10px;
    font-family: 'Patrick Hand', sans-serif, 'Times New Roman'; 
    font-size: 22px;  
}

nav {
    background-color: #f9dc5c;
    display: flex;
    justify-content: space-around;
    padding: 1em;
}

nav a{
    text-align: center;
    color: #000000;
    text-decoration: none;
    padding: .75em;
    line-height: 1em;
    font-family: 'Patrick Hand', sans-serif, 'Times New Roman'; 
    font-size: 22px;
  }

nav a:hover{
    background-color: #000000;
    color: #ffffff;
}

#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
    padding-top: 5px;
}

.logo{
    width: 80px;
    height: 80px;
    position: relative;
}

header{
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #f9dc5c;
}

.home-title{
    color: #000000;
    font-family: 'Acme', serif, 'Times New Roman';
    font-size: 2em;
    margin-top: 10px;
}

#hero-img{
    width: 100%;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
}

#content{
    max-width: 1600px; margin: 0 auto;
    background-color: #06aed5;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
}

.join{
    background-color: #000000;
    color:#ffffff;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book{
    background-color: #000000;
    color:#ffffff;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.join:hover{
    background-color: #f9dc5c;
    color:#000000;
}

.book:hover{
    background-color: #f9dc5c;
    color:#000000;
}

.button-box{
    text-align: center;
    margin: 55px;
}

img{
    max-width: 100%;
}

#hero-msg h1{
    text-align: center;
    color: white;
  }

#hero-msg h4{
    text-align: center;
    color: white;
  }

main section img {
    box-sizing: border-box;
}

main section{
    text-align: center;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}  

main2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}  

.card-img {
    border: 10px solid #000000;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #f9dc5c;
    width: 100%;
    height: 300px;
}

.icon{
    width: 80px;
    padding-top: 10px;
    margin-top: 25px;
}

.mountains {
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #f9dc5c;
}

.msg{
    background-color: #000000;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #f9dc5c;
}

.msg h2{
    color:#ffffff;
    font-family: 'Acme', serif, 'Times New Roman';
}

.msg p {
    color:#f9dc5c;
    font-size: .8em;
    padding-bottom: 15px;
}

.rivers-card {
    margin: 200px 0;
    grid-column: 2/4;
    grid-row: 2/3;
}

.camping-card {
    margin: 200px 0;
    grid-column: 5/7;
    grid-row: 2/3;
}

.rapids-card {
    margin: 200px 0;
    grid-column: 8/10;
    grid-row: 2/3;
}

.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

.card-img, .mountains {
    width: 100%;
}

.river1-card {
    
    margin: 150px 0;
    padding: 150px 0;
    grid-column: 8/10;
    grid-row: 1;
}

.msg-river1{
    background-color: #000000;
    line-height: 2.0em;
    margin: 200px 0;
    padding: 35px;
    grid-column: 2/7;
    grid-row: 1;
    box-shadow: 5px 5px 10px #f9dc5c;
}

.msg-river1 h2{
    color:#ffffff;
    font-family: 'Acme', serif, 'Times New Roman';
}

.msg-river1 p {
    color:#f9dc5c;
    font-size: .8em;
    padding-bottom: 15px;
}

.river2-card {
    margin: 150px 0;
    padding: 150px 0;
    grid-column: 2/4;
    grid-row: 2;
}

.msg-river2{
    background-color: #000000;
    line-height: 2.0em;
    margin: 200px 0;
    padding: 35px;
    grid-column: 5/10;
    grid-row: 2;
    box-shadow: 5px 5px 10px #f9dc5c;
}

.msg-river2 h2{
    color:#ffffff;
    font-family: 'Acme', serif, 'Times New Roman';
}

.msg-river2 p {
    color:#f9dc5c;
    font-size: .8em;
    padding-bottom: 15px;
}

.river3-card {
    margin: 150px 0;
    padding: 150px 0;
    grid-column: 8/10;
    grid-row: 3;
}

.msg-river3{
    background-color: #000000;
    line-height: 2.0em;
    margin: 200px 0;
    padding: 35px;
    grid-column: 2/7;
    grid-row: 3;
    box-shadow: 5px 5px 10px #f9dc5c;
}

.msg-river3 h2{
    color:#ffffff;
    font-family: 'Acme', serif, 'Times New Roman';
}

.msg-river3 p {
    color:#f9dc5c;
    font-size: .8em;
    padding-bottom: 15px;
}

footer{
    background-color: #f9dc5c;
    color:#000000;
    padding: 5px 50px;
    margin-top: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a{
    color:#000000;
    text-decoration: none;
}

footer a:hover{
    color:#06aed5;
}

footer p{
    font-size: 1.2em;
}

footer p a:hover{
    text-decoration: underline;
}

footer .social img {
    padding-top: 15px;
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #f9dc5c;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
        grid-column: 1/11;
        grid-row: 4/9;
    }
    .mountains, .msg, .msg.river1 {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}
       